################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Angular_HCharts/FileContentIndex
*.vsidx
*.cache
*.txt
/PTAngularDemo/.vs/PTAngularDemo/v17/.suo
/PTAngularDemo/.vs/PTAngularDemo/v17/DocumentLayout.json
*.config
