################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Angular_HCharts/FileContentIndex
*.vsidx
*.cache
*.txt
/PTAngularDemo/.vs/PTAngularDemo/v17/.suo
/PTAngularDemo/.vs/PTAngularDemo/v17/DocumentLayout.json
*.config
/PTAngularDemo/.vs/PTAngularDemo/copilot-chat/9023b0d4/V0_d737758b-2378-401a-a77c-56fb00c41a15_Default
