

.daq-chart {
  position: relative;
}

.chart-container {
  width: 100%;
  min-width: 150px;
  height: 600px;
  background-color: #ccc;
  display: block;
  margin-top: 2px; 
}


.daq-chart-container {
  background-color: #ccc; /* Set header background color to white */
  border-right: 2px solid #ccc; /* Add border to the right of the chart */

.chart-content {
  border-top: 1px solid #ccc; /* Optional: Add border between header and chart content */
}

