

.plot-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  justify-content: space-between; /* Align items with space between them */
  margin-top: 1rem; /* Add space between the chart and the menu */

}

  .chart-item {
    flex: 1;  Each chart item occupies equal space 
  }

.chart-axis {
  width: 150px; /* Set the height of each chart item */
}


/*.menu-container {
  display: flex;
  flex-direction: row;*/ /* Horizontal layout */

  /*margin-left: 500px;*/ /* Adjust the value to add space between items */
  /*min-width: 30px;*/ /* Minimum width of each item */
/*}*/


.menu-item {
  margin-left: 30px;  /*Adjust the value to add space between items */
}

button:first-of-type {
  margin-right: 1rem;
}

.buttons-wrapper {
  margin-top: 1.5rem;
}
