
<div class="menu-container">
  <!-- zooming menu -->
  <button (click)="zoomIn()"> + </button>
  <button (click)="zoomOut()"> - </button>
  <button (click)="restoreOrignal()"> restore Orignal </button>

  <label class="menu-item" for="searchInput">Hole:</label>
  <input type="text" id="searchInput" [(ngModel)]="holeId" placeholder="Enter search query...">
  <button (click)="searchData()">Search</button>
  <button class="menu-item" (click)="reload_data()">Reload data</button>

  <input id="local_data" type="checkbox" [(ngModel)]="useDummy" (change)="useLocalData()">
  <label for="local_data">dummy</label>
</div>

  <br />

  <div class="chart-container">
    <!--<ng-container *ngFor="let chartData of plotData">
    <app-daqchart [chartData]="chartData"></app-daqchart>
  </ng-container>-->

    <app-daqchart [seriesNames]="curveNames[0]" [chartDatas]="curveDatas[0]"></app-daqchart>
    <app-daqchart [seriesNames]="curveNames[1]" [chartDatas]="curveDatas[1]"></app-daqchart>
    <app-daqchart [seriesNames]="curveNames[2]" [chartDatas]="curveDatas[2]"></app-daqchart>
    <app-daqchart [seriesNames]="curveNames[3]" [chartDatas]="curveDatas[3]"></app-daqchart>
    <app-daqchart [seriesNames]="curveNames[4]" [chartDatas]="curveDatas[4]"></app-daqchart>


  </div>




 













