<h2>daq plot</h2>

<br />

<div class="menu-container">
  <label class="menu-item" for="searchInput">Hole:</label>
  <input  type="text" id="searchInput" [(ngModel)]="searchQuery" placeholder="Enter search query...">
  <button  (click)="searchData()">Search</button>
  <button class="menu-item"  (click)="reload_data()">Reload data</button>

    <input id="local_data" type="checkbox" [(ngModel)]="localdata" (change)="useLocalData()">
    <label for="local_data">local data</label>
  </div>

  <br />
  <br />

  <div class="chart-container">
    <!--<ng-container *ngFor="let chartData of plotData">
      <app-daqchart [chartData]="chartData"></app-daqchart>
    </ng-container>-->

    <app-daqchart [chartData]="plotData[0]"></app-daqchart>
    <app-daqchart [chartData]="plotData[1]"></app-daqchart>
    <app-daqchart [chartData]="plotData[2]"></app-daqchart>
    <app-daqchart [chartData]="plotData[3]"></app-daqchart>
    <app-daqchart [chartData]="plotData[4]"></app-daqchart>

  </div>




  // highchart zoon selection
  //













