
/*.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/ /* Horizontal layout with minimum item width of 300px */
  /*grid-gap: 20px;*/ /* Gap between items */
/*}*/

.chart-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */

  align-items: center;
  margin-right:10px; /* Adjust the value to add space between items */
  min-width: 300px;/* Minimum width of each item */
}

.menu-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */

  margin-left: 560px; /* Adjust the value to add space between items */
  min-width: 30px; /* Minimum width of each item */
}


.menu-item {
  margin-left: 30px; /* Adjust the value to add space between items */
}
