

.daq-track-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-between; 
  margin-top: 1rem; 
}

  .chart-item {
    flex: 1; 
  }

.chart-axis {
  width: 200px;  
  margin-top: 90px
}


.menu-container {
  display: flex;
  flex-direction: row;  /*Horizontal layout */

  margin-left: 500px; /* Adjust the value to add space between items */
  min-width: 30px; /* Minimum width of each item */
}


.menu-item {
  margin-left: 30px;  /*Adjust the value to add space between items */
}

button:first-of-type {
  margin-right: 1rem;
}

.buttons-wrapper {
  margin-top: 1.5rem;
}

.chart-placeholder-container {
  display: inline-block; /* or display: block; */
}

.chart-placeholder {
  height: 100px; /* Set the height to your desired value */
}
