.daq-chart-header {
  align-content: center;
  margin: 0px;
  padding: 7px;
  border-width: thin;
  border-radius: 5px;
  background-color: #c7d3c9;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid #7E7D83;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

  .daq-chart-header .title {
    font-weight: bold;
  }

  .daq-chart-header .track-line-style {
    margin-top: 10px;
    margin-bottom: 19px;
    border: 1px solid;
    color: blue;
  }

  .daq-chart-header .header-range-unit {
    display: flex;
    justify-content: space-between;
  }

/********************/


.empty-header {
  align-content: center;
  margin: 1px;
  padding: 4px;
  border-width: thin;
  border-radius: 7px;
  background-color: #ffffff;
  cursor: pointer;
  border: 2px dashed #7E7D83;
}

.track-header-ui {
  display: none;
  position: absolute;
  z-index: 4;
  /*top: calc(($header-padding + 1px) * -1);*/
  /*left: calc(($header-padding + 1px) * -1);*/
  width: 255px;
  height: 208px;
  padding: 16px;
  border-radius: 4px;
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
}

  .track-header-ui label {
    margin-bottom: 0px !important;
  }

  .track-header-ui .input-container {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    text-align: left;
  }

. .track-header-ui .data-selection-container {
  margin-bottom: 20px;
}

.track-header-ui .range-selection-container {
  display: flex;
  margin-bottom: 20px;
}

  .track-header-ui .range-selection-container label {
    font-weight: 400;
  }

  .track-header-ui .range-selection-container input {
    width: 80px;
  }

  .track-header-ui .range-selection-container select {
    width: 102px;
  }

  .track-header-ui .range-selection-container .from-to {
    display: flex;
  }

  .track-header-ui .range-selection-container .unit-display {
    font-size: 14px;
    align-self: end;
    padding-bottom: 3px;
  }

  .track-header-ui .range-selection-container .header-reset-button-container {
    border: 1px solid #A3A2A7;
    padding: 3px;
    align-self: end;
    margin-left: 10px;
  }

.track-header-ui .line-style-container {
  display: flex;
}

  .track-header-ui .line-style-container label {
    font-weight: 400;
  }

  .track-header-ui .line-style-container select {
    width: 80px;
  }
